*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  background: linear-gradient(to left,rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
  text-align: center;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  color:rgb(23, 23, 23);
  font-size:7.5rem;
}

h2{
  color:rgb(23, 23, 23);
  font-size:4.4rem;
}

h3{
  color:rgb(23, 23, 23);
  font-size:1.8rem;
}

p{
  color:rgb(23, 23, 23);; 
  font-size:1.65rem;
  line-height:1.5;
  margin-top:1rem;
}

.container{
  max-width: 120rem;
  margin: auto;
}